{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "ie": "11"
        }
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-template-literals",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
